@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&family=Poppins:wght@300;400;500&display=swap");
/*----------------------------- файл обнуления стилей -----------------------------*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*----------------------------- Конец обнуления стилей -----------------------------*/
/*----------------------------- Контейнер контента и страницы -----------------------------*/
html {
  scroll-behavior: smooth;
}

body {
  font-family: Poppins;
  font-size: 16px;
  color: #fff;
}

body._lock {
  overflow: hidden;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

/*-----------------------------  Общие стили -----------------------------*/
/*------- Кнопка ---------*/
.button {
  font-size: 14px;
  line-height: 166%;
  padding: 16px 28px;
  color: #fff;
  text-align: center;
  background-color: #E1651F;
  border-radius: 39px;
  font-weight: 400;
  font-family: Poppins;
  -webkit-transition: all .3s ease-out 0s;
  transition: all .3s ease-out 0s;
}

.button:hover, .button:active, .button:focus {
  background-color: #cf4545;
  -webkit-box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.4);
}

/*------- Заголовок --------*/
.title {
  margin: 0 auto;
  color: #000;
  text-align: center;
}

.title__name {
  font-size: 48px;
  line-height: 90%;
  font-family: 'Oleo Script Swash Caps';
  margin-bottom: 18px;
}

.title__text {
  font-size: 16px;
  line-height: 160%;
  color: #6A6A6A;
  max-width: 525px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.title__text::after {
  content: '';
  position: absolute;
  width: 120px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  bottom: 0;
  height: 2px;
  background-color: #E1651F;
  margin-bottom: -25px;
}

/*------- Звёзды --------*/
.stars {
  max-width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.stars img {
  margin-right: 5.5px;
}

.stars img img:last-child {
  margin-right: 0px;
}

/*-----------------------------  Конец общих стилей -----------------------------*/
/*----------------------------- Шапка + меню -----------------------------*/
.header {
  background: url(../img/header_bg.jpg) center no-repeat;
  min-height: 100vh;
}

.header__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  margin-right: 30px;
}

.header__preview {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: 0 auto;
  max-width: 720px;
  margin-top: -90px;
}

.header__title {
  Font-family: 'Oleo Script Swash Caps';
  font-size: 96px;
  padding: 32px 0;
}

.header__subtitle {
  font-size: 18px;
  line-height: 150%;
  max-width: 520px;
  margin: 0 auto;
  font-weight: 200;
  margin-bottom: 15px;
}

.header__button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

/*------------- Меню навигации -------------*/
.menu__icon {
  display: none;
}

.menu__list {
  padding: 58px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__item {
  margin-right: 8px;
  position: relative;
}

.menu__item:last-child {
  margin-right: 0px;
}

.menu__link {
  color: #fff;
  font-weight: 200;
  padding: 5px 8px;
}

.menu__link::after {
  -webkit-transition: all .2s ease-out 0s;
  transition: all .2s ease-out 0s;
  content: '';
  position: absolute;
  width: 0;
  bottom: 0;
  left: 0;
  height: 2px;
  background-color: #E1651F;
  margin-bottom: -10px;
}

.menu__link:hover::after, .menu__link:active::after, .menu__link:focus::after {
  width: 100%;
}

/*----------------------------- Секция About Us -----------------------------*/
.about {
  margin-top: 50px;
  padding: 120px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

.about__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 500px;
  max-width: 565px;
  width: 100%;
}

.about__img img {
  width: 100%;
}

.about__info {
  max-width: 480px;
  margin-left: 30px;
}

.about__title {
  font-size: 48px;
  line-height: 90%;
  font-family: 'Oleo Script Swash Caps';
  color: #000;
  position: relative;
  margin-bottom: 52px;
}

.about__title::after {
  content: '';
  position: absolute;
  width: 120px;
  bottom: 0;
  left: 0;
  height: 2px;
  background-color: #E1651F;
  margin-bottom: -25px;
}

.about__text {
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
  color: #6A6A6A;
  margin-bottom: 34px;
}

/*----------------------------- Секция Our Menu -----------------------------*/
.shop {
  background: rgba(0, 0, 0, 0.04);
  padding: 120px 0;
  text-align: center;
}

.shop__area {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 86px;
}

.shop__title {
  padding-bottom: 100px;
}

.shop__container {
  max-width: 1330px;
}

.shop__card {
  margin: 0px 15px 30px 15px;
  max-width: 277px;
}

.hover-card {
  -webkit-transform: translate(-110%, 0);
          transform: translate(-110%, 0);
  -webkit-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  left: 0;
  top: 0;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hover-card__button {
  color: #fff;
  font-size: 24px;
  padding: 30px 30px;
  border-radius: 4px;
  -webkit-transition: all .3s ease-out 0s;
  transition: all .3s ease-out 0s;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: rgba(255, 255, 255, 0.8);
}

.hover-card__button:hover {
  text-shadow: 5px 5px 10px rgba(255, 255, 255, 0.5);
  color: #fff;
}

.card {
  -webkit-transition: all .5s ease 0s;
  transition: all .5s ease 0s;
  overflow: hidden;
  position: relative;
}

.card:hover {
  -webkit-box-shadow: 0px 0px 20px #E1651F;
          box-shadow: 0px 0px 20px #E1651F;
}

.card:hover .hover-card {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.card__stars {
  margin-bottom: 12px;
}

.card__info {
  padding: 23.5px;
  background-color: #fff;
  height: 100%;
}

.card__img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card__name {
  font-size: 24px;
  line-height: 100%;
  font-family: 'Oleo Script Swash Caps';
  color: #000;
}

.card__price {
  font-size: 14px;
  line-height: 160%;
  background-color: #E1651F;
  padding: 2px 10px;
}

.card__name-and-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__description {
  font-size: 14px;
  line-height: 160%;
  color: #6A6A6A;
  margin: 10px 0px;
}

.card__button {
  display: none;
  font-size: 12px;
  line-height: 160%;
  color: #E1651F;
  padding: 4px 10px;
  background-color: rgba(232, 107, 38, 0.08);
  border-radius: 25px;
  -webkit-transition: all .4s ease-out 0s;
  transition: all .4s ease-out 0s;
}

.card__button:hover, .card__button:active, .card__button:focus {
  background-color: #cf4545;
  color: #fff;
}

/*----------------------------- Секция Why to choose us? -----------------------------*/
.weAre {
  padding: 120px 0;
}

.weAre__container {
  max-width: 1250px;
}

.weAre__area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 50px;
}

.weAre__card {
  max-width: 380px;
  height: auto;
  width: 100%;
  text-align: center;
  margin: 30px 15px;
}

.weAre__img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 75px;
}

.weAre__cardname {
  font-size: 24px;
  line-height: 100%;
  word-wrap: break-word;
  color: #000;
  max-width: 200px;
  margin: 0 auto;
  font-family: 'Oleo Script Swash Caps';
  padding: 25px 0px 12px 0px;
}

.weAre__text {
  font-size: 16px;
  line-height: 160%;
  color: #6A6A6A;
}

/*----------------------------- Секция Listen to our customers-----------------------------*/
.customers {
  padding: 120px 0;
  background: url(../img/customers_bg.jpg) center no-repeat;
}

.customers__title .title__name {
  color: #fff;
}

.customers__title .title__text {
  color: #fff;
}

.customers__area {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.customers__card {
  margin: 15px 15px;
  padding: 60px 30px;
  text-align: center;
  min-width: 280px;
  max-width: 380px;
  background-color: #fff;
}

.customers__img {
  margin-bottom: 30px;
}

.customers__img img {
  max-width: 120px;
  border-radius: 50%;
}

.customers__stars {
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.customers__description {
  font-size: 16px;
  line-height: 160%;
  color: #6A6A6A;
  margin: 17px 0px;
  font-weight: 400;
}

.customers__name {
  font-size: 24px;
  line-height: 100%;
  font-family: 'Oleo Script Swash Caps';
  color: #000;
}

/*----------------------------- Секция Book your table-----------------------------*/
.booking {
  padding: 120px 0;
}

.booking__form {
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
  margin-top: 70px;
}

.booking__input {
  width: 100%;
  margin-bottom: 28px;
  font-size: 16px;
  line-height: 160%;
  color: #00000066;
  padding: 13px 24px;
  background-color: rgba(0, 0, 0, 0.04);
  -webkit-transition: all .3s ease-out 0s;
  transition: all .3s ease-out 0s;
}

.booking__input:focus {
  -webkit-box-shadow: 0px 0px 3px #E1651F;
          box-shadow: 0px 0px 3px #E1651F;
}

.booking__center-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.booking__center-inputs input {
  max-width: 432px;
}

.booking__description {
  width: 100%;
  height: 200px;
  font-size: 16px;
  line-height: 160%;
  color: #00000066;
  padding: 13px 24px;
  background-color: rgba(0, 0, 0, 0.04);
  resize: none;
  margin-bottom: 44px;
  -webkit-transition: all .3s ease-out 0s;
  transition: all .3s ease-out 0s;
}

.booking__description:focus {
  -webkit-box-shadow: 0px 0px 3px #E1651F;
          box-shadow: 0px 0px 3px #E1651F;
}

/*----------------------------- Секция Number of About us-----------------------------*/
.whyChooseUs {
  background: url(../img/footer-burder_bg.jpg) no-repeat;
  background-position: 100% 60%;
  background-size: 100% 250%;
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.whyChooseUs__container {
  max-width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.whyChooseUs__block {
  max-width: 200px;
  text-align: center;
  margin: 40px 30px;
}

.whyChooseUs__number {
  font-size: 48px;
  line-height: 100%;
  font-family: 'Oleo Script Swash Caps';
}

.whyChooseUs__text {
  font-size: 18px;
  line-height: 160%;
  font-weight: 400;
  margin-top: 16px;
  position: relative;
}

.whyChooseUs__text::after {
  content: '';
  position: absolute;
  width: 66px;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  height: 2px;
  background-color: #E1651F;
  margin-bottom: -20px;
}

/*----------------------------- Footer-----------------------------*/
.footer {
  background-color: #1C1C1C;
  padding: 120px 0;
}

.footer__container {
  max-width: 1300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__block {
  max-width: 383px;
  min-width: 280px;
  width: 100%;
  padding: 16px;
  margin: 15px 15px;
}

.footer__logo {
  font-size: 24px;
  line-height: 100%;
  font-family: 'Oleo Script Swash Caps';
  margin-bottom: 30px;
}

.footer__left-logo {
  font-size: 38px;
}

.footer__text {
  font-size: 16px;
  line-height: 160%;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 300;
}

.footer__time {
  margin: 14px 0px;
}

.footer__input {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.07);
  color: rgba(255, 255, 255, 0.7);
  padding: 9px 16px;
  margin-bottom: 14px;
  -webkit-transition: all .3s ease-out 0s;
  transition: all .3s ease-out 0s;
}

.footer__input:focus {
  -webkit-box-shadow: 0px 0px 3px #E1651F;
          box-shadow: 0px 0px 3px #E1651F;
}

.footer__button {
  font-size: 14px;
  line-height: 160%;
  text-align: center;
  display: block;
  color: rgba(255, 255, 255, 0.6);
  background-color: #E1651F;
  padding: 9px 0px;
  -webkit-transition: all .3s ease-out 0s;
  transition: all .3s ease-out 0s;
}

.footer__button:hover, .footer__button:active, .footer__button:focus {
  background-color: #cf4545;
  color: #fff;
}

/*----------------------------- copyright-----------------------------*/
.copyright {
  padding: 30px 0;
  background-color: #2C2C2C;
}

.copyright__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.copyright__text {
  font-size: 16px;
  line-height: 160%;
  margin-right: 30px;
  max-width: 615px;
  font-weight: 300;
}

.copyright__text span {
  text-decoration: underline;
}

.copyright__socialmedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 175px;
  width: 100%;
}

.copyright__socialicon {
  margin-right: 10px;
  -webkit-transition: all .3s ease-out 0s;
  transition: all .3s ease-out 0s;
}

.copyright__socialicon:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}
